.sw[pnoqst]
.venv
**.pyc
/Gemfile.lock
_build_v4
_build_v5
# This is here because the Rakefile rewrites part of it and we don't want those
# changes checked in.
build/simp-doc.spec
builderrors
dist
docs/_build
docs/dynamic
html
html-single
pdf
linkcheck
rst/_build
sphinx_cache
build/rpm_metadata
