<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE appendix PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "SIMP_Documentation.ent">
%BOOK_ENTITIES;
]>
<%
  # Respace on tabs
  t_changelog_txt = changelog_txt.gsub("\t",'  ')

  # Turn the text into something Docbook-friendly.
  t_changelog_out = ''
  t_found_header = false
  t_changelog_txt.each_line do |line|
    # Found a heading
    if line =~ /^\s*=+\s+(.*)\s+=+/ then
      if not t_changelog_out.empty? then
        t_changelog_out << "</literallayout>\n"
      end

      t_changelog_out << "<bridgehead>#{$1}</bridgehead>\n"
      t_found_header = true
      next
    end

    if t_found_header then
      t_changelog_out << "<literallayout>\n"
      t_found_header = false
    end

    t_changelog_out << line
  end
  t_changelog_out << "</literallayout>\n"
-%>
<!--<appendix id="appe-simp_docs-Changelog">-->
<appendix>
  <title>Changelog</title>
  <simpara>
    <revhistory>
      <revision>
        <revnumber><%= doc_product_number[:version] %>-<%= doc_product_number[:release] %></revnumber>
        <date><%= Time.now.strftime("%a %b %d %Y") %></date>
        <author>
          <firstname>SIMP</firstname>
          <surname>Team</surname>
        </author>
        <revdescription>
<%= t_changelog_out %>
        </revdescription>
      </revision>
    </revhistory>
  </simpara>
</appendix>
